html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
}
*{
    font-family:'Times New Roman', Times, serif;
}
.header{
    width:100%;
    height: 150px;
    align-items: center;
    display:flex;
    background-color: rgb(14, 13, 13,0.2);
    position: relative;
    top: 0px;
}
.logo{
    position: relative;
    left: 40px;
}
.namedetails{
    position: relative;
    left: 60px;
}
.namedetails h1{
    color: darkblue;
    text-decoration: underline;
    position: relative;
    top: 0px;
    font-size: 30px;
}
.namedetails p{
    color: darkblue;
    position: relative;
    top: 0px;
}
.logo4{
    position: absolute;
    right: 70px;
    display: flex;
}
.logo4 div{
    position: relative;
    margin-left: 40px;
}
#iti{
    width: 100px;
    height: 70px;
}
#skill{
    width: 100px;
    height: 70px;
}
#hair{
    width: 100px;
    height: 70px;
}
#iso{
    width: 100px;
    height: 70px;
}
.navbar{
    background-color: darkblue;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
.navbar ul{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    position:relative;
}
.navbar ul li{
    padding-left: 80px;
    font-weight: bolder;
    font-size: 20px;
}
.navbar ul li a{
    color: #f3f2f2;
    position: relative;
    text-decoration: none;
}
#image1{
    background-position: center;
    background-size: cover;
    width: 100%;
}
.successfull{
    height: 50px;
    background-color: orange;
    position: relative;
    bottom: 40px;
}
.successfull h2{
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
}
.welcome{
    position: relative;
    top: -30px;
    padding: 30px 20px;
}
.welcome h1{
    text-align: center;
    color: darkblue;

}
.welcome p{
    padding: 10px 40px;
    font-size: 20px;
}
.button{
    font-weight: bold;
    color: white;
    background-color: darkblue;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 45%;
    bottom: 30px;
}
.spl{
    background-color: rgba(0, 0, 206, 0.7);
    padding: 30px 150px;
}
.spl h1{
    color: white;
    position: relative;
}
#menu{
    width: 100%;
    height: auto;
    margin-top: -23px;
}
#menu h1{
    text-align: center;
    padding-top: 5px;
}
#menu_contents{
  padding: 50px;
}

.menu_items{
  display: flex;
  gap: 3 rem;
  flex-wrap: wrap;
  justify-content: center;
}
.menu_items div{
  border-radius: 30px;
  border: 2px solid darkblue;
  width: 270px;
  transition: 0.5s;
}
.menu_items div img{
  width: 270px;
  height: 260px;
  display: flex;
  border-radius: 25px;
}
.menu_items div:hover{
  transform: scale(1.06);
}
.menu_items div h2{
  text-align: center;
  color: #ffa600;
}
.menu_items div button{
    width: 60px;
    height: 22px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    position: relative;
    left: 100px;
    bottom: 8px;
}
.founder{
    position: relative;
    top: 40px;
    left: -39px;
    width: 105.7%;
    padding: 40px 0px;
    transform: scale(1.01);
    margin: 0px;
    height: 60%;
    box-shadow: 1px 1px 30px gray;
}
.founder h1{
    color: darkblue;
}
.founder .content{
    position: relative;
    left: 70px;
    top: 30px;
    width: 90%;
    display: flex;
    box-shadow: 1px 1px 30px gray;
    align-items: center;
    height: 70%;
}
.founder .content #image2{
    height: 100%;
}
.footer{
    position: relative;
    top: 70px;
    height: 50%;
    left: -50px;
    width: 107%;
    background-color: rgba(0, 0, 139, 0.842);
    display: flex;
    gap: 5rem;
}
.enquiry{
    position: relative;
    top: 10px;
    left: 30px;
    color: white;
}
#form{
    display: flex;
    flex-direction: column;
}
form input[type=text],input[type=email]{
    width: 100%;
    margin-top: 10px;
    height: 30px;
    padding-left: 10px ;
    outline: none;
    background-color: rgba(126, 125, 125, 0.3) ;
    border: 1px solid #9a9999;;
    color: #fdfdfd;
  }
  form input[type=text]::placeholder,
  input[type=email]::placeholder,textarea::placeholder
  {
    color: #a9a8a8;
  }
  #send-btn{
    position: relative;
    left: 0px;
    width: 50%;
    background-color: white;
    border: 1px solid #4b4b4b;
    color:black;
    cursor: pointer;
    border-radius: 10px;
  }
    .contactus h2{
    color: white;
  }
  .contactus h1{
    color: white;
    position: relative;
    right: 130px;
  }
  .contactus p{
    color: white;
  }
  .map iframe {
    height: 70%;
  }
  .map{
    color: white;
    top: 10px;
  }
  .openinghours{
    color: white;
   
  }
  .openinghours h1{
  position: relative;
  right: 10px;
  }
  #fit{
    width: 93%;
    position: relative;
    left: 10px;
    top: 10px;
  }
  #mot{
    width: 93%;
    position: relative;
    left: 10px;
    top: 10px;
  }
  #ele{
    width: 93%;
    position: relative;
    left: 10px;
    top: 10px;
  }
  #wireman{
    width: 93%;
    position: relative;
    left: 10px;
    top: 10px;
  }
